.Footer {
  background-color: #38438f;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 20px 0;
  width: 100vw;
  position: relative;
  left: 0;
  align-items: center;
}

.Footer .footer-text {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-weight: 700;
}

.Footer a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}
