.Header .top-bar {
  background-color: #38438f;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Header .email-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .email-icon {
  color: white;
  font-size: 20px;
}

.Header a {
  color: white;
}

.Header .email-address {
  color: "white";
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.Header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
}

.Header .logo {
  width: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.Header .title {
  color: #38438f;
}

@media (max-width: 768px) {
}
