.Header .top-bar {
  background-color: #ccd0eb;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Header .email-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .email-icon {
  color: #364089;
  font-size: 20px;
}

.Header a {
  color: #364089;
}

.Header .email-address {
  color: "white";
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.Header .square-logo {
  width: 50px;
  border-radius: 50%;
}

.Header .hero {
  width: 100%;
  margin-top: 40px;
}

.Header .logo {
  width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.Header .title {
  color: #38438f;
  font-size: 40px;
  text-align: left;
}

@media (max-width: 768px) {
  .Header .header-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Header .logo {
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
  }

  .Header .title {
    color: #38438f;
    font-size: 30px;
    justify-self: center;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .Header .email-icon {
    font-size: 15px;
  }
  .Header .email-address {
    font-size: 15px;
  }
}
