.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: visible;
  opacity: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 5px solid #38438f;
  border-radius: 10px;
  width: 70%;
  max-width: 800px;
  z-index: 1000;
  display: block;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #38438f;
}

h2 {
  color: #38438f;
  font-size: 24px;
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 100px;
}
.modal-text {
  font-size: 15px;
  margin-top: 15px;
}

@media (max-width: 576px) {
  .modal-text {
    font-size: 12px;
    text-align: center;
  }
}
