.WelcomePage {
  position: fixed; /* Fixes the WelcomePage to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: white; /* Background color for the page */
  z-index: 9999; /* Ensures it appears above all other elements */
  display: flex; /* Center content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.WelcomePage h1 {
  color: #38438f;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.WelcomePage h2 {
  color: #38438f;
  font-size: 35px;
}
.WelcomePage p {
  color: #38438f;
  font-size: 25px;
}
.WelcomePage a {
  text-decoration: underline;
  color: #ba3527;
}

@media (max-width: 576px) {
  .WelcomePage h1 {
    font-size: 30px;
  }
  .WelcomePage h2 {
    font-size: 25px;
  }
  .WelcomePage p {
    font-size: 20px;
  }
  .WelcomePage a {
    font-size: 20px;
  }
}
