.WelcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 40px;
}
.WelcomePage h1 {
  color: #38438f;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.WelcomePage h2 {
  color: #38438f;
  font-size: 35px;
}
.WelcomePage p {
  color: #38438f;
  font-size: 25px;
}
.WelcomePage a {
  text-decoration: underline;
  color: #ba3527;
}
